/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSearch {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
}

.homeSearch :global(.DocSearch-Button) {
  width: min(600px, 90vw);
  height: 50px;
  font-size: 1rem;
}
